@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar{
  display: none;
}

body {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  height: 100vh;
  width: 100vw;
  position: relative;
}

.overlay{
  background-color:rgba(0,0,0,0.3);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

@keyframes fade {

  0%,
  100% {
    opacity: 1;
  }

  16.666%,
  83.333% {
    opacity: 0;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  animation: fade 30s ease-in-out infinite;
}

img:nth-of-type(1) {
  animation-delay: 0s;
}

img:nth-of-type(2) {
  animation-delay: 5s;
}

img:nth-of-type(3) {
  animation-delay: 10s;
}

img:nth-of-type(4) {
  animation-delay: 15s;
}

img:nth-of-type(5) {
  animation-delay: 20s;
}

img:nth-of-type(6) {
  animation-delay: 25s;
}

.search-container {
  max-width: 400px;
  margin: 0 auto;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  /* font-family: 'Rubik Burned', system-ui; */
  text-align: center;
  font-size: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.search-input-container {
  display: flex;
  align-items: center;
  padding: 5px;
}

/* .search-icon{
  position: relative;
  left: 6rem;
} */

/* .search-clear{
  position: relative;
  left: -11rem;
} */

.search-input {
  border: none;
  outline: none;
  height: 3.5rem;
  /* width: 50rem; */
  border-radius: 5px;
  flex: 1;
}

.search-button {
  position: relative;
  left: -8rem;
  background-color: #4285f4;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #3a77cc;
}

.search-history-container {
  margin-top: 20px;
}

.search-history-title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-history-list {
  list-style: none;
  padding: 0;
}

.search-history-item {
  margin-bottom: 5px;
}

.clear-history-button {
  background: none;
  border: none;
  color: #4285f4;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 10px auto 0;
}

.clear-history-icon {
  margin-right: 5px;
}