@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');

* {
  margin: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

*::-webkit-scrollbar{
  display: none;
}

body {
  background-color: #000022;

  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .container{

} */

.search-container {
  max-width: 400px;
  margin: 0 auto;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  /* font-family: 'Rubik Burned', system-ui; */
  text-align: center;
  font-size: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.search-input-container {
  display: flex;
  align-items: center;
  padding: 5px;
}

/* .search-icon{
  position: relative;
  left: 6rem;
} */

/* .search-clear{
  position: relative;
  left: -11rem;
} */

.search-input {
  border: none;
  outline: none;
  height: 3.5rem;
  /* width: 50rem; */
  border-radius: 5px;
  flex: 1;
}

.search-button {
  position: relative;
  left: -13rem;
  background-color: #4285f4;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #3a77cc;
}

.search-history-container {
  margin-top: 20px;
}

.search-history-title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-history-list {
  list-style: none;
  padding: 0;
}

.search-history-item {
  margin-bottom: 5px;
}

.clear-history-button {
  background: none;
  border: none;
  color: #4285f4;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 10px auto 0;
}

.clear-history-icon {
  margin-right: 5px;
}